</head>
<body>
  <nav>
    <a id='plane-link' href='/flights'><i class="fas fa-plane fa-3x"></i></a>
    <a href='/flights'><button class='nav-button' id='all-flights'>All Flights</button></a>
    <a href='/flights/new'><button class='nav-button' id='add-flight'>Add Flight</button></a>
    <a href='/destinations/new'><button class='nav-button' id='add-destination'>Add Destination</button></a>
  </nav>