</head>
<body>
  <nav>
    <a id='plane-link' href='/flights'><i class="fas fa-plane fa-3x"></i></a>
    <a href='/flights'><button <%- title === 'Departing Flights' ? 'class="active-button"' : 'class="nav-button"' %> id='all-flights'>All Flights</button></a>
    <a href='/flights/new'><button <%- title === 'Add New Flight' ? 'class="active-button"' : 'class="nav-button"' %> id='add-flight'>Add Flight</button></a>
    <a href='/destinations/new'><button <%- title === 'Add Destination' ? 'class="active-button"' : 'class="nav-button"' %> id='add-destination'>Add Destination</button></a>
  </nav>